
 :root {
    --primary-color: #353c7b;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --bold-heading: 700rgb(224, 159, 84)
}

body {
    background-color: RGB(238,245,247);
    font-family: 'Bitter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: var(--bold-heading);
}

h2 {
    font-size: 24px;
    font-weight: var(--bold-heading);
}

h3 {
    font-size: 18px;
    font-weight: var(--bold-heading);
}

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}

button:hover, button:focus,
.button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button_secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}


#modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }

@media all and (max-width: 820px) {
    /* shared code */
    @media all and (max-width: 500px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }
    @media all and (min-width: 500px) and (max-width: 820px){
        .grid {
          grid-template-columns: 1fr 1fr;
        }
    }
    @media all and (max-width: 820px) {
        .grid {
          grid-gap: 10px;
        }
        .grid__item:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
        }
        h1 {
          font-size: 22px;
        }
    }
}